.af-home-intro {
  position: relative;
  .af-home-intro_content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translate(0,-50%);
    .af-home-intro_content-inner {
      padding: 50px 70px;
      background-color: #fff;
    }
  }
}
