<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p>Company</p>
      <p>Street. 18</p>
      <p>23535 Munich</p>
      <p>Germany</p>
    </div>
    <div class="col-md-3">
      <p>Fon +49 (0)89 999 999-9</p>
      <p>Fax +49 (0)89 999 999-9</p>
      <p>Mail info@company.com</p>
      <p>Web company.com</p>
    </div>
    <div class="col-md-3">
      <p>Services</p>
      <p>Webdesign</p>
      <p>SEO</p>
      <p>And more</p>
    </div>
    <div class="col-md-3">
      <p>About</p>
      <p>Imprint</p>
      <p></p>
      <p>Buy now ➔</p>
    </div>
  </div>
</div>
