/*
Find all variables here: https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
*/

// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Overpass:wght@300&display=swap');

// Brand colors
$brand-primary: #000;
$brand-secondary: #ff0;
$brand-dark: #2A292D;

/*
Bootstrap overrides
*/

// Colors
$primary: $brand-primary;
$secondary: $brand-secondary;
$dark: $brand-dark;

// Font
$font-family-sans-serif: "Overpass", Helvetica, Arial, sans-serif;
$font-size-base: 1.25rem;
$line-height-base: 1.6;
$font-weight-base: 300;

// Heading
$headings-font-family: "Montserrat", Helvetica, Arial, sans-serif;
$headings-font-weight: 300;

// Buttons
$btn-border-radius-base: 13px;

// Container
$container-max-widths: ();
$container-max-widths: map-merge(
  (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1320px
  ),
  $container-max-widths
);
