{% extends '_layouts/layout_main' %}

{% block content %}
  <section class="af-home-intro">
    <div class="af-home-intro_background">
      <div class="row">
        <div class="col-lg-7">
          <img src="{{entry.homeIntro.image.one().getUrl()}}" alt="">
        </div>
      </div>
    </div>
    <div class="af-home-intro_content">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 offset-lg-5">
            <div class="af-home-intro_content-inner">
              <h1>
                {{entry.homeIntro.headlineTop}}
                <strong>{{entry.homeIntro.headlineBottom}}</strong>
              </h1>
              {{entry.homeIntro.text}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="af-module-wrapper">
    {% include '_atoms/module-wrapper' with {blocks: entry.homeModules.all()} %}
  </section>

{% endblock %}
