<section class="af-intro">
  <div class="af-intro_background">
    <div class="row">
      <div class="col-lg-7">
        <img src="{{block.image.one().getUrl()}}" alt="">
      </div>
    </div>
  </div>
  <div class="af-intro_content">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 offset-lg-5">
          <div class="af-intro_content-inner">
            <h1>
              {{block.headlineTop}}
              <strong>{{block.headlineBottom}}</strong>
            </h1>
            {{block.text}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
