<section class="af-blog-teaser">
  <!-- TODO: TITLE -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 text-center">
        <h2>{{block.headline}}</h2>
        <div class="af-blog-teaser_text">
          {{block.text}}
        </div>
      </div>
    </div>
    <div class="row">
      <!-- TODO: BLOGS -->
    </div>
  </div>
</section>
