<section class="af-footer_bottom">
  <div class="container">
    <div class="af-footer_bottom-inner border-top">
      <div class="row">
        <div class="col-12 col-lg-6">
          <p class="mb-0">2020 - Craft CMS Starter</p>
        </div>
        <div class="col-12 col-lg-6 text-right">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a href="/privacy-policy">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="/imprint">Imprint</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
