<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/assets/styles/styles.css?cb=123" >

  </head>

  <body class="{{ bodyClass is defined ? bodyClass }}">

    <header class="main-navigation">
      {% include 'partials/_header' %}
    </header>

    <div class="content">
      {% block main %}{% endblock %}
    </div>

    <footer class="main-footer">
      {% include 'partials/_footer' %}
    </footer>

    <script type="text/javascript" src="/assets/js/scripts.js?cb=123"></script>

  </body>
</html>
