.af-footer {
  background-color: #F5F5F5;
  padding-top: 4.5rem;
  padding-bottom: 3rem;
  .af-footer_top {
    padding-bottom: 2rem;
    .af-footer_top-links {
      h5 {
        font-size: 1.25rem;
        line-height: 1.6;
        font-weight: 900;
      }
      li a {
        font-size: 1rem;

      }
    }
    .df-footer_top-social {
      margin-bottom: 2rem;
      a {
        width: 43px;
        height: 43px;
        line-height: 43px;
        background-color: $dark;
        border-radius: 43px;
        color: #fff;
        display: block;
        text-align: center;
        margin-right: 0;
      }
    }
    .df-footer_top-phone {
      p {
        font-family: "Montserrat";
        font-size: 1.25rem;
        line-height: 1.6;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
  .af-footer_bottom {
    .af-footer_bottom-inner {
      border-color: $dark !important;
      padding-top: 2rem;
      p, a {
        font-size: 1rem;;
      }
    }

  }
}
